.featuredcategorylist {
  background-color:#fff;
  padding: 60px;

.cmp-categorylist__title {
  text-align: left;
  font: normal normal normal 48px/56px $font-family-title;
  letter-spacing: 0px;
  color: #58181D;
  opacity: 1;
  margin-bottom: 30px;
}

  .cmp-categorylist__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  .cmp-categorylist__anchor {
    @media (max-width: 768px) {
      height: 100px;
      width: 100%;
      padding: 0px;
      flex-direction: row;
      justify-content: left;
      gap: 0px;
    }
    width: 224px;
    height: 224px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #0000001A;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
  }

  .cmp-categorylist__imagewrapper {
    background-image: none !important;
    @media (max-width: 768px) {
      max-height: 60px;
      height: 60px;
      width: 83px;
      margin: 20px;
    }
  }

  .cmp-categorylist__image {
    max-height: 105px;
    object-fit: contain;
    @media (max-width: 768px) {
      max-height: 60px;
      height: 60px;
    }
    img {
      max-height: 105px;

    }
  }

  .cmp-categorylist__name {
    font: normal normal normal 24px/28px $font-family-title, serif;
    letter-spacing: 0px;
    color: #58181D;
    opacity: 1;
    text-align: center;
    margin-top: 20px;
    @media (max-width: 768px) {
      max-height: 60px;
      height: 60px;
      margin-top: 34px;
    }
  }
}